PORT=4000
JWT_SECRET=flordesil_secret_2024
ADMIN_USER=claudio123
ADMIN_PASSWORD=floreria321
CLIENT_URL=https://tu-frontend.vercel.app
SUPABASE_URL=https://hbsioiejbkvkdwasyrck.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_...tu_clave_secreta
